/* CUSTOM-PROPS */
:root {
  --red-color: #eb242a;
  --heading-color: #272d4e;
  --text-color: #57606a;
  --white-color: #fff;
  --blue-color: #2b9ff3;
  --black-color: #001A49;
}


/* FONT-FACE */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
  url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"),
  url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"),
  url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.woff2") format("woff2"),
  url("../fonts/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Mulish","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1528px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  padding-top: 60px;
  padding-bottom: 60px;
  /* background-image: url(../img/hero-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: ; */

}
.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  text-decoration: none;
}

.logo__img {
  display: block;
  width: 226px;
  height: 41px;
}

.button {
  position: relative;
  padding: 12px 31px 12px 66px;
  display: flex;
  align-items: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--red-color);
  border: 2px solid var(--red-color);
  border-radius: 33px;
  text-decoration: none;
}

.button-img {
  display: block;
  position: absolute;
  left: 0;
  width: 47px;
  height: auto;
}


/* HERO */
.hero {
  padding-top: 96px;
  padding-bottom: 190px;
}

.hero__info {
  width: 100%;
  max-width: 567px;
}

.hero__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 109px;
  color: var(--heading-color);
}

.hero__text {
  padding: 0;
  margin: 0;
  margin-bottom: 118px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
  }

.btn {
  margin-right: 31px;
  padding: 20px 68px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26.4944px;
  line-height: 31px;
  text-align: center;
  text-decoration: none;
  background-color: var(--red-color);
  border-radius: 60px;
  color: var(--white-color);
}

.btn:hover  {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}

.hero__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 29.069px;
  line-height: 40px;
  text-decoration: none;
  color: var(--blue-color);
}

.hero__link span {
  color: #94A2B3;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* CASHBACK */
.cashback {
  margin-bottom: 120px;

}
.cashback__conatiner {
  display: flex;
  background-color: #FDF4F4;
  padding: 30px 107px 30px 125px ;
  border-radius: 21px;
}

.cashback__content {
  width: 100%;
  max-width: 670px;
  margin-right: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color);
}

.cashback__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  text-transform: uppercase;
  color: var(--heading-color);
}

.cashback__text {
  padding: 0;
  margin: 0;
}

.cashback__img {
  display: block;
  width: 473px;
  height: 185px;
  margin-left: auto;
}


/* FEATURES */
.features {
  margin-bottom: 120px;
}
.features__container {

}

.features__heading {
  width: 100%;
  max-width: 978px;
  padding: 0;
  margin: 0 auto 72px auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 76px;
  color: var(--heading-color);
  text-align: center;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  counter-reset: step;
  list-style: none;
}

.features__item {
  position: relative;
  width: 100%;
  max-width: 372px;
  counter-increment: step;
}

.features__item:not(:first-child)::before {
  position: absolute;
  top: 48px;
  left: -65%;
  content: '';
  width: 284px;
  height: 2px;
  background-color: red;
  border-radius: 2px;
  display: inline-block;
}

.features__content {
  display: flex;
  flex-direction: column;
}

.features__content::before {
  align-self: center;
  content: counter(step);
  width: 99px;
  height: 99px;
  margin-bottom: 40px;
  border-radius: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 60.0858px;
  line-height: 102px;
  text-align: center;
  color: #EB242A;
  background-color: #fff;
  box-shadow: 0px 12.375px 24.75px rgba(0, 0, 0, 0.11);
}



.features__content-heading {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 70px;
  color: #272D4E;
  text-align: center;
}

.features__content-text {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}


/* INFORMATION */
.iformation {
  margin-bottom: 204px;
}
.information__container {
}

.information__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.information__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 76px;
  text-align: center;
  color: var(--heading-color)
}

.information__text {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}

.information__card-wrapper {
  display: flex;
}

.information__card {
  display: flex;
  width: 100%;
  max-width: 720px;
  padding: 35px 55px 29px 52px;
  border: 2px solid #EB242A;
  border-radius: 21px;
}

.information__card:not(:last-child) {
  margin-right: 48px;
}

.card-red {
  background-color: var(--red-color);
  color: var(--white-color);
}

.information__card-img {
  display: block;
  width: 51px;
  height: 47px;
  margin-right: 57px;
}

.information__card-content {
  width: 100%;
  max-width: 371px;
}

.information__card-content-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.information__card-content-text {
  padding: 0;
  margin: 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}


/* CTA */
.cta {
  margin-bottom: 107px;
  padding-top: 54px;
  padding-bottom: 42px;
  background-color: var(--red-color);
}

.cta__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta__content {
  width: 100%;
  max-width: 709px;
}

.cta__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  color: var(--white-color);
}
.form {
  position: relative;
}

.input {
  width: 100%;
  max-width: 433px;
  padding-top: 21px;
  padding-left: 38px;
  padding-bottom: 20px;
  box-shadow: inset -2.40556px -2.40556px 4.81111px rgba(255, 255, 255, 0.5), inset 2.40556px 2.40556px 4.81111px rgba(170, 170, 204, 0.25), inset 6.01389px 6.01389px 12.0278px rgba(170, 170, 204, 0.5), inset -6.01389px -6.01389px 12.0278px #FFFFFF;
  border-radius: 48.1111px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28.1377px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: #C3C6CB;
}

.form__img {
  position: absolute;
  top: 13px;
  right: 15px;
  display: block;
  width: 48px;
  height: 48px;
}
